/**
 *  Styles
 */
/**
 *  Media Queries and Breakpoints
 */
/**
 *  Library
 *
 *  Contains mixins and functions.
 */
/**
 *  Layout
 */
/**
 *  Settings
 */
/**
 *  Center element
 *  NB: parent element must have position: relative;
 *
 *  @variables: xy, x, y
 *  Default: xy
 */
/**
 *  Border Radius
 *
 *  @variables: $radius (px, em, rem value)
 */
/**
 *  Font Smoothing
 */
/**
 *  Font size map by Jonathan Suh
 *  https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
 */
/**
 *  Media Query Mixins.
 *  Sorted by Minimum, Maximum and Between
 */
/**
 *  Minimums
 * eg.
 * @include minimum(tablet){ @content };
 * css will be active on tablet size and beyond
 *
 * @variables: tablet, small-desktop, desktop
 */
/**
 *  Maximums
 * eg.
 * @include maximum(tablet){ @content };
 * css will be active on tablet size size and beyond
 *
 * @variables: mobile, tablet, small-desktop, desktop
 */
/**
 *  Betweens
 * eg.
 * @include between(tablet,desktop){ @content };
 * css will be active between tablet and desktop breakpoints.
 *
 * @variables: tablet, desktop
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0px;
  min-height: 100%; }

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0.5em 0; }

a {
  color: inherit;
  text-decoration: none; }

/**
 *  Spacing Map
 *  Example usage:
 *
 *  $purple-spacing: (
 *    null  : (20px),
 *    small : 20px,
 *    medium: 40px
 *  );
 *
 *  .test{
 *    @include spacing(padding-bottom, $purple-spacing);
 *  }
 */
.spacing--cyan {
  padding-bottom: 22px; }
  @media screen and (min-width: 768px) {
    .spacing--cyan {
      padding-bottom: 2.409vw; } }
  @media screen and (min-width: 1230px) {
    .spacing--cyan {
      padding-bottom: 32px; } }

.spacing--green {
  padding-bottom: 32px; }
  @media screen and (min-width: 768px) {
    .spacing--green {
      padding-bottom: 3.614vw; } }
  @media screen and (min-width: 1230px) {
    .spacing--green {
      padding-bottom: 48px; } }

.spacing--blue {
  padding-bottom: 17px; }
  @media screen and (min-width: 768px) {
    .spacing--blue {
      padding-bottom: 1.807vw; } }
  @media screen and (min-width: 1230px) {
    .spacing--blue {
      padding-bottom: 24px; } }

.spacing--brown {
  padding-bottom: 77px; }
  @media screen and (min-width: 768px) {
    .spacing--brown {
      padding-bottom: 7.83vw; } }
  @media screen and (min-width: 1230px) {
    .spacing--brown {
      padding-bottom: 104px; } }

.spacing--yellow {
  padding-bottom: 50px; }
  @media screen and (min-width: 768px) {
    .spacing--yellow {
      padding-bottom: 5.421vw; } }
  @media screen and (min-width: 1230px) {
    .spacing--yellow {
      padding-bottom: 72px; } }

/**
 *  Typography
 */
@font-face {
  font-family: 'SpaceGrotesk-Light';
  src: url("../fonts/space/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

/**
 *  Font weight variables
 */
/**
 *  Font sizes
 *
 *	Map options: null, x-small, small, medium, large, x-large
 *
 */
p, h1, h2, h3, h4, h5 {
  font-family: "SpaceGrotesk-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

p {
  margin-top: 0px;
  margin-bottom: 11px; }
  @media screen and (min-width: 768px) {
    p {
      margin-bottom: 1.204vw; } }
  @media screen and (min-width: 1230px) {
    p {
      margin-bottom: 16px; } }

p, body {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0.02em; }
  @media screen and (min-width: 992px) {
    p, body {
      font-size: 16px;
      line-height: 23px; } }
  @media screen and (min-width: 1230px) {
    p, body {
      font-size: 1.1vw;
      line-height: 1.5em; } }

h1, h2, p.header-size {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin: 0 0 1em 0; }
  @media screen and (min-width: 1230px) {
    h1, h2, p.header-size {
      font-size: 1.6vw;
      line-height: 1.4em; } }

h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0.02em; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 18px;
      line-height: 1.4; } }
  @media screen and (min-width: 992px) {
    h3 {
      font-size: 18px;
      line-height: 1.4; } }
  @media screen and (min-width: 1230px) {
    h3 {
      font-size: 1.2vw;
      line-height: 1.2em; } }

h4 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 17px; } }
  @media screen and (min-width: 992px) {
    h4 {
      font-size: 20px; } }

h5 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300; }
  @media screen and (min-width: 768px) {
    h5 {
      font-size: 17px; } }
  @media screen and (min-width: 992px) {
    h5 {
      font-size: 14px; } }

.container {
  width: 100%;
  position: relative; }

.wrapper {
  max-width: 95%; }
  @media (max-width: 993px) {
    .wrapper {
      max-width: 90%; } }
  @media (max-width: 1701px) {
    .wrapper {
      max-width: 1366px; } }

a {
  transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  a:hover {
    color: #F24E4D; }

/**
 *  General
 */
* {
  -webkit-font-smoothing: antialiased;
  font-family: "SpaceGrotesk-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

img {
  max-width: 100%; }

.nav {
  display: block;
  z-index: 1000;
  position: fixed; }
  .nav__bar {
    list-style: none;
    display: inline-block; }
  .nav__links {
    display: inline-block; }

img,
img[data-sizes="auto"] {
  display: block;
  width: 100%; }

.ratio--rec, .ratio--squ, .ratio--wid {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .ratio--rec .lazyload, .ratio--squ .lazyload, .ratio--wid .lazyload {
    opacity: 1;
    background: #FF00EF; }
  .ratio--rec .lazyloading, .ratio--squ .lazyloading, .ratio--wid .lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    min-height: 100%;
    background: #FF00EF; }
  .ratio--rec .lazyloaded, .ratio--squ .lazyloaded, .ratio--wid .lazyloaded {
    background: grey; }

img.lazyloading {
  opacity: 0;
  transition: opacity 400ms; }

img.lazyloaded {
  opacity: 1; }

.ratio--rec:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 62.5%; }

.ratio--squ:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 100%; }

.ratio--wid:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 50%; }

.ratio--rec > *,
.ratio--squ > *,
.ratio--wid > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

.ratio--rec .lazyautosizes,
.ratio--squ .lazyautosizes,
.ratio--wid .lazyautosizes,
.ratio--rec .lazyloading,
.ratio--squ .lazyloading,
.ratio--wid .lazyloading {
  opacity: 0;
  transition: opacity 400ms; }

.ratio--rec img.lazyloaded,
.ratio--squ img.lazyloaded,
.ratio--wid img.lazyloaded {
  opacity: 1; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

body {
  margin: 0;
  color: #010137; }

body, html {
  height: 100%; }

svg.duotone-filters {
  visibility: hidden;
  height: 0;
  width: 0; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }
  @media (max-width: 993px) {
    .header {
      position: absolute; } }
  .header__bar {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    /* autoprefixer: ignore next */
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .header__bar {
        padding-left: 5.421vw; } }
    @media screen and (min-width: 1230px) {
      .header__bar {
        padding-left: 72px; } }
    @media screen and (min-width: 768px) {
      .header__bar {
        padding-right: 5.421vw; } }
    @media screen and (min-width: 1230px) {
      .header__bar {
        padding-right: 72px; } }
    @media screen and (min-width: 768px) {
      .header__bar {
        padding-top: 1.807vw; } }
    @media screen and (min-width: 1230px) {
      .header__bar {
        padding-top: 24px; } }
    @media screen and (min-width: 768px) {
      .header__bar {
        padding-bottom: 1.807vw; } }
    @media screen and (min-width: 1230px) {
      .header__bar {
        padding-bottom: 24px; } }
    @media (max-width: 481px) {
      .header__bar {
        padding-left: 22px;
        padding-right: 22px; } }
    @media screen and (max-width: 481px) and (min-width: 768px) {
      .header__bar {
        padding-left: 2.409vw; } }
    @media screen and (max-width: 481px) and (min-width: 1230px) {
      .header__bar {
        padding-left: 32px; } }
    @media screen and (max-width: 481px) and (min-width: 768px) {
      .header__bar {
        padding-right: 2.409vw; } }
    @media screen and (max-width: 481px) and (min-width: 1230px) {
      .header__bar {
        padding-right: 32px; } }
  .header__col {
    width: 50%; }
    .header__col:last-child {
      text-align: right; }

.contact__link {
  color: #FFFFFF;
  display: inline-block;
  margin-right: 15px;
  text-align: right; }
  @media (max-width: 993px) {
    .contact__link {
      color: #010137; } }
  .contact__link:last-child {
    margin-right: 0; }

.container {
  display: flex;
  /* autoprefixer: ignore next */
  display: -webkit-flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: row; }
  @media (max-width: 993px) {
    .container {
      padding-top: 46px;
      flex-direction: column;
      position: relative;
      min-height: 100vh;
      height: auto; } }

.col {
  height: 100vh;
  top: 0;
  position: absolute; }
  @media (max-width: 993px) {
    .col {
      position: relative;
      height: 100%; } }
  .col__left {
    display: flex;
    /* autoprefixer: ignore next */
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    left: 0;
    z-index: 1000;
    background-color: white;
    padding: 50px; }
    @media screen and (min-width: 768px) {
      .col__left {
        padding: 5.421vw; } }
    @media screen and (min-width: 1230px) {
      .col__left {
        padding: 72px; } }
    @media (max-width: 993px) {
      .col__left {
        width: 100% !important;
        justify-content: center;
        height: auto; } }
    @media (max-width: 481px) {
      .col__left {
        padding: 22px; } }
    @media screen and (max-width: 481px) and (min-width: 768px) {
      .col__left {
        padding: 2.409vw; } }
    @media screen and (max-width: 481px) and (min-width: 1230px) {
      .col__left {
        padding: 32px; } }
    .col__left .inner-wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto; }
  .col__right {
    width: 50%;
    right: 0;
    background: #010137;
    color: #FFFFFF;
    padding: 50px; }
    @media screen and (min-width: 768px) {
      .col__right {
        padding: 5.421vw; } }
    @media screen and (min-width: 1230px) {
      .col__right {
        padding: 72px; } }
    @media (max-width: 993px) {
      .col__right {
        flex: 1;
        width: 100%; } }
    @media (max-width: 481px) {
      .col__right {
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 22px;
        padding-top: 32px; } }
    @media screen and (max-width: 481px) and (min-width: 768px) {
      .col__right {
        padding-left: 2.409vw; } }
    @media screen and (max-width: 481px) and (min-width: 1230px) {
      .col__right {
        padding-left: 32px; } }
    @media screen and (max-width: 481px) and (min-width: 768px) {
      .col__right {
        padding-right: 2.409vw; } }
    @media screen and (max-width: 481px) and (min-width: 1230px) {
      .col__right {
        padding-right: 32px; } }
    @media screen and (max-width: 481px) and (min-width: 768px) {
      .col__right {
        padding-bottom: 2.409vw; } }
    @media screen and (max-width: 481px) and (min-width: 1230px) {
      .col__right {
        padding-bottom: 32px; } }
    @media screen and (max-width: 481px) and (min-width: 768px) {
      .col__right {
        padding-top: 3.614vw; } }
    @media screen and (max-width: 481px) and (min-width: 1230px) {
      .col__right {
        padding-top: 48px; } }
    .col__right .inner-wrapper {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      @media (max-width: 993px) {
        .col__right .inner-wrapper {
          position: relative;
          top: 0;
          transform: translateY(0);
          padding-bottom: 50px; } }
    @media screen and (max-width: 993px) and (min-width: 768px) {
      .col__right .inner-wrapper {
        padding-bottom: 5.421vw; } }
    @media screen and (max-width: 993px) and (min-width: 1230px) {
      .col__right .inner-wrapper {
        padding-bottom: 72px; } }

.browser__wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: relative;
  box-shadow: 15px 15px 60px -15px rgba(125, 125, 125, 0.4); }

.browser__desktop {
  display: block; }
  .browser__desktop > div {
    filter: url("#duotone_blue"); }
  .browser__desktop div {
    transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    visibility: hidden; }
    .browser__desktop div:first-child {
      position: relative; }
    .browser__desktop div a {
      display: block;
      height: 100%; }
    .browser__desktop div.active {
      opacity: 1;
      visibility: visible; }
  @media (max-width: 993px) {
    .browser__desktop {
      display: none; } }

.browser__mobile {
  display: none;
  line-height: 0;
  font-size: 0; }
  @media (max-width: 993px) {
    .browser__mobile {
      display: inline-block; } }
  .browser__mobile .slick-track {
    filter: url("#duotone_blue"); }
  .browser__mobile .slide__item {
    position: relative;
    opacity: 1;
    visibility: visible;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%; }
    .browser__mobile .slide__item a {
      display: block;
      height: 100%; }
    .browser__mobile .slide__item img {
      width: 100%; }

.about__wrapper {
  width: 100%;
  flex: 0 0 auto;
  max-width: calc(66.66667% - 24.5px);
  flex-basis: calc(66.66667% - 28px);
  margin-bottom: 50px; }
  .about__wrapper img {
    width: 100%; }
  .about__wrapper > div {
    display: inline-block; }
  @media screen and (min-width: 768px) {
    .about__wrapper {
      margin-bottom: 5.421vw; } }
  @media screen and (min-width: 1230px) {
    .about__wrapper {
      margin-bottom: 72px; } }
  @media (max-width: 769px) {
    .about__wrapper {
      width: 100%;
      flex: 0 0 auto;
      max-width: calc(83.33333% - 25.2px);
      flex-basis: calc(83.33333% - 28px); }
      .about__wrapper img {
        width: 100%; }
      .about__wrapper > div {
        display: inline-block; } }
  @media (max-width: 481px) {
    .about__wrapper {
      width: 100%;
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%; } }
  .about__wrapper a {
    display: inline-block;
    position: relative;
    text-decoration: underline; }
    .about__wrapper a:hover::before {
      opacity: 1; }
    .about__wrapper a:hover {
      color: #FFFFFF; }
  .about__wrapper p:last-child {
    margin-bottom: 0; }

.project__wrapper {
  width: 100%;
  flex: 0 0 auto;
  max-width: calc(83.33333% - 25.2px);
  flex-basis: calc(83.33333% - 28px);
  width: 100%; }
  .project__wrapper img {
    width: 100%; }
  .project__wrapper > div {
    display: inline-block; }
  @media (max-width: 769px) {
    .project__wrapper {
      margin-bottom: 50px;
      width: 100%;
      width: 100%;
      flex: 0 0 100%;
      flex-basis: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 769px) and (min-width: 768px) {
    .project__wrapper {
      margin-bottom: 5.421vw; } }
  @media screen and (max-width: 769px) and (min-width: 1230px) {
    .project__wrapper {
      margin-bottom: 72px; } }
  .project__wrapper .sub {
    font-weight: 500;
    margin-bottom: 0; }

.project__list {
  width: 100%; }
  .project__list .list__header {
    text-transform: uppercase;
    border-bottom: 3px solid white; }
    .project__list .list__header div:last-child {
      opacity: 1; }
      @media (max-width: 481px) {
        .project__list .list__header div:last-child {
          opacity: 1; } }

.project__row {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  /* autoprefixer: ignore next */
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto; }
  .project__row.tba {
    opacity: 0.5; }
    .project__row.tba .project__col:nth-child(1) span {
      color: white; }
    @media (max-width: 481px) {
      .project__row.tba {
        display: none; } }
  .project__row.tba div:hover a {
    color: white;
    pointer-events: none; }

.project__col {
  width: calc(50% - 14px); }
  .project__col a, .project__col p {
    margin-bottom: 0; }
  @media (max-width: 769px) {
    .project__col {
      width: 100%; } }
  .project__col:nth-child(1) span {
    font-size: 10px;
    line-height: 18px;
    color: #F24E4D;
    vertical-align: text-top; }
    @media screen and (min-width: 992px) {
      .project__col:nth-child(1) span {
        font-size: 10px;
        line-height: 18px; } }
    @media screen and (min-width: 1230px) {
      .project__col:nth-child(1) span {
        font-size: 0.6vw;
        line-height: 1.4em; } }
  @media (max-width: 481px) {
    .project__col:nth-child(1) {
      width: 100%; } }
  @media (max-width: 481px) {
    .project__col:last-child {
      opacity: .5; } }

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding-left: 50px;
  padding-right: 50px; }
  @media screen and (min-width: 768px) {
    .footer {
      padding-left: 5.421vw; } }
  @media screen and (min-width: 1230px) {
    .footer {
      padding-left: 72px; } }
  @media screen and (min-width: 768px) {
    .footer {
      padding-right: 5.421vw; } }
  @media screen and (min-width: 1230px) {
    .footer {
      padding-right: 72px; } }
  @media (max-width: 481px) {
    .footer {
      padding-left: 22px;
      padding-right: 22px; } }
  @media screen and (max-width: 481px) and (min-width: 768px) {
    .footer {
      padding-left: 2.409vw; } }
  @media screen and (max-width: 481px) and (min-width: 1230px) {
    .footer {
      padding-left: 32px; } }
  @media screen and (max-width: 481px) and (min-width: 768px) {
    .footer {
      padding-right: 2.409vw; } }
  @media screen and (max-width: 481px) and (min-width: 1230px) {
    .footer {
      padding-right: 32px; } }
  .footer__bar {
    padding-bottom: 17px;
    padding-top: 17px;
    display: flex;
    /* autoprefixer: ignore next */
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .footer__bar {
        padding-bottom: 1.807vw; } }
    @media screen and (min-width: 1230px) {
      .footer__bar {
        padding-bottom: 24px; } }
    @media screen and (min-width: 768px) {
      .footer__bar {
        padding-top: 1.807vw; } }
    @media screen and (min-width: 1230px) {
      .footer__bar {
        padding-top: 24px; } }
    .footer__bar .updater {
      width: 100%;
      display: flex;
      /* autoprefixer: ignore next */
      display: -webkit-flex;
      flex-wrap: nowrap; }
      .footer__bar .updater span {
        margin-right: 15px;
        color: #F24E4D; }

.fade-in-up {
  opacity: 0;
  transform: translateY(5px);
  transition: all 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  .fade-in-up.active {
    opacity: 1;
    transform: translateY(0); }

.fade-in {
  opacity: 0;
  transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  .fade-in.active {
    opacity: 1; }

.header-default .logo {
  color: #FFFFFF; }

@media (max-width: 481px) {
  .header-default .contact__link {
    color: #FFFFFF; } }

.default .container {
  display: block;
  background: #010137; }

.error {
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; }
  .error p {
    font-size: 20px;
    line-height: 26px; }
    @media screen and (min-width: 1230px) {
      .error p {
        font-size: 1.6vw;
        line-height: 1.4em; } }
    @media (max-width: 481px) {
      .error p {
        font-size: 16px;
        line-height: 23px; } }
  @media screen and (max-width: 481px) and (min-width: 992px) {
    .error p {
      font-size: 16px;
      line-height: 23px; } }
  @media screen and (max-width: 481px) and (min-width: 1230px) {
    .error p {
      font-size: 1.1vw;
      line-height: 1.5em; } }
  .error a {
    display: inline-block;
    position: relative; }
    .error a::after {
      content: "";
      position: absolute;
      bottom: 1px;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #FFFFFF;
      opacity: 0.5;
      transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53); }
    .error a:hover::after {
      width: 0; }
